In [10]:
import pandas as pd

In [ ]:
#The total number of months included in the dataset
###The net total amount of "Profit/Losses" over the entire period 
#The average of the changes in "Profit/Losses" over the entire period
#The greatest increase in profits (date and amount) over the entire period
#The greatest decrease in losses (date and amount) over the entire period

In [73]:
budget_data = r"C:\Users\sohlb\OneDrive\Desktop\NUCHI201902DATA1\Homework\03-Python\Instructions\PyBank\Resources\budget_data.csv"
budget_data_pd = pd.read_csv(budget_data)
budget_data_pd.head(10)
#budget_data_pd.describe

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503
5  Jun-2010         522857
6  Jul-2010        1033096
7  Aug-2010         604885
8  Sep-2010        -216386
9  Oct-2010         477532

In [122]:
#Calculating the total number of months included in the dataset

#budget_data_pd.head()
#Date = budget_data_pd["Date"]
#Date
#budget_data.len()
#row_count = sum(1 for row in budget_data)
#row_count
#budget_data["Date"].value_counts()
#count = budget_data_pd["Date"].len()
#count
#budget_data_pd.columns
Total_Months = len(budget_data_pd["Date"].unique())
print("Total Months:", Total_Months)

Total Months: 86

In [117]:
#The net total amount of "Profit/Losses" over the entire period

Gross_Margin = budget_data_pd["Profit/Losses"].sum()
print('Total Margin is: ${:,}'.format(Gross_Margin))

Total Margin is: $38,382,578

In [123]:
#The average of the changes in "Profit/Losses" over the entire period##
##For the PyBank portion of the assignment, the "Average Change" refers to the average difference in "Profit/Losses" 
###between each row. You will not get the right answer if you just take an average of the entire column
####- calculate the differences (row2-row1, row3-row2, row4-row3, etc), and then take an average of those values.

average = budget_data_pd["Profit/Losses"].mean()
average

446309.0465116279

In [ ]:
# Export file as a CSV, without the Pandas index, but with the header
#file_one_df.to_csv("Output/fileOne.csv", index=False, header=True)